<div class="form-field">
  <label for="password" [formGroup]="authForm">
    <input type="password"
      [formControlName]="'password'"
      placeholder="Password*"
      name="password"
      class="user-pass"
    >
  </label>
  <div class="input-error" *ngIf="password !== null && (password.dirty || password.touched)">
    <span *ngIf="password.errors && password.hasError('required')">Please enter a password</span>
    <span *ngIf="password.invalid && !password.hasError('required')">Your password isn't strong enough: <br/>
      <span *ngIf="password.hasError('hasLength')">at least 8 characters, <br/></span>
      <span *ngIf="password.hasError('hasUpperLower')">a mixture of both uppercase and lowercase letters, <br/></span>
      <span *ngIf="password.hasError('hasNumberLetter')">a mixture of letters and numbers, <br/></span>
      <span *ngIf="password.hasError('hasSpecial')">at least one special character, <br/></span>
    </span>
  </div>
</div>
