@import '~src/styles/style-import';

.form-field {

  .user-pass {
    @include auth-input;
    margin-top: 30px;
    position: relative;
  }

  .input-error {
    @include input-error;
    position: absolute;
  }
}
