<div class="form-field">
  <span class="p-float-label" [formGroup]="authForm">
    <input pInputText type="password" id="float-password" class="user-pass" [formControlName]="'password'"
      [class.ng-invalid]="password?.invalid && password?.dirty" [placeholder]="'USER.PASSWORD' | translate">
  </span>
  <small id="password-help" class="p-error block" *ngIf="password?.dirty || password?.touched">
    <span *ngIf="password?.hasError('required')">{{ 'USER.PASSWORD_ERROR_EMPTY' | translate }}</span>
    <span *ngIf="password?.invalid && !password?.hasError('required')">{{ 'USER.PASSWORD_ERROR_DIFFICULTY' | translate
      }}:
      <br />
      <span *ngIf="password?.hasError('hasLength')">{{ 'USER.PASSWORD_ERROR_LENGTH' | translate }}, <br /></span>
      <span *ngIf="password?.hasError('hasUpperLower')">{{ 'USER.PASSWORD_ERROR_UPPER' | translate }}, <br /></span>
      <span *ngIf="password?.hasError('hasNumberLetter')">{{ 'USER.PASSWORD_ERROR_NUMBER' | translate }}, <br /></span>
      <span *ngIf="password?.hasError('hasSpecial')">{{ 'USER.PASSWORD_ERROR_SPECIAL' | translate }}, <br /></span>
    </span>
  </small>
</div>