<div class="colunm">
  <div class="title flex justify-content-between align-center">
    <input  type="text" pInputText [(ngModel)]="column.title">
    <button 
      pButton 
      pRipple
      type="button" 
      icon="pi pi-trash" 
      class="p-button-text"
      (click)="remove()">
    </button>
  </div>
  <div
    class="tasks"

  >
    <div
      class="task"
      *ngFor="let task of (column.tasks | taskSortingOrder)"
      cdkDrag
      [attr.data-id]="task.id"
    >
      <div class="task-placeholder" *cdkDragPlaceholder></div>
      <rsm-task
        [task]="task"
        (deleteTask)="handleDeleteTask(task)"
    ></rsm-task>
    </div>

  </div>
  <button
    pRipple
    pButton
    icon="pi pi-plus"
    label="{{ 'COLUMN.BUTTON' | translate }}"
  >
  </button>
</div>
