<div class="colunm">
  <div class="title flex justify-content-between align-items-center">
    <rsm-title [title]="column.title" (changeTitle)="changeTitle($event)"></rsm-title>
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-trash"
      class="p-button-text"
      (click)="remove()">
    </button>
  </div>
  <div class="tasks">
    <div
      class="task"
      *ngFor="let task of (column.tasks | taskSortingOrder)"
      cdkDrag
      [attr.data-id]="task.id"
    >
      <div class="task-placeholder" *cdkDragPlaceholder></div>
      <rsm-task
        [task]="task"
        (deleteTask)="handleDeleteTask($event)"
        (updateTask)="handleUpdateTask($event, task.id)"
    ></rsm-task>
    </div>
  </div>
  <button
    pRipple
    pButton
    icon="pi pi-plus"
    label="{{ 'COLUMN.BUTTON' | translate }}"
    (click)="showDialog()"
  >
  </button>
</div>
<rsm-task-dialog
  [(isDialogVisible)]="isDialogVisible"
  (save)="handleAddTask($event)"
></rsm-task-dialog>
