<div class="colunm">
  <div class="title flex justify-content-between align-center">
    <!-- <input  type="text" pInputText [(ngModel)]="title"> -->
    <rsm-title [title]="column.title" (changeTitle)="changeTitle($event)"></rsm-title>
    <i class="pi pi-trash"></i>
  </div>
  <div
    class="tasks"

  >
    <div
      class="task"
      *ngFor="let task of (column.tasks | taskSortingOrder)"
      cdkDrag
      [attr.data-id]="task.id"
    >
      <div class="task-placeholder" *cdkDragPlaceholder></div>
      <rsm-task
      [task]="task"
    ></rsm-task>
    </div>

  </div>
  <button
    pRipple
    pButton
    icon="pi pi-plus"
    label="{{ 'COLUMN.BUTTON' | translate }}"
  >
  </button>
</div>
