<div class="form-field">
  <span class="p-float-label" [formGroup]="authForm">
    <input id="float-email" type="email" pInputText name="email" class="user-email" [formControlName]="'email'"
      [class.ng-invalid]="email?.invalid && email?.dirty">
    <label for="float-email">Email*</label>
  </span>
  <small id="email-help" class="p-error block" *ngIf="email?.dirty || email?.touched">
    <span *ngIf="email?.hasError('required')">
      {{ 'USER.EMAIL_ERROR_EMPTY' | translate }}
    </span>
    <span *ngIf="email?.invalid && !email?.pending && !email?.hasError('required')">
      {{ 'USER.EMAIL_ERROR_INVALID' | translate }}
    </span>
  </small>
</div>