<div class="container">
  <p-button 
    icon="pi pi-plus" 
    class="btn"
    [label]="'BOARDS.ADD_BOARD' | translate" 
    (click)="showDialog()"
  >
  </p-button>
  <div class="card-container flex flex-wrap">
    <rsm-board-element 
      *ngFor="let board of (boards$ | async)" 
      [id]="board.id"
      [title]="board.title"
      [description]="board.description"
      (deleteBoard)="deleteBoard(board.id)"
      (changeBoardTitle)="changeBoardTitle($event)"
    >
    </rsm-board-element>
  </div>
  <rsm-create-board-dialog
    [(isDialogVisible)]="isDialogVisible"
    (addBoard)="addBoard($event)"
  ></rsm-create-board-dialog>
</div>