<section class="container login-container">
  <div class="login-form">
    <h2>Login</h2>
    <form novalidate autocomplete="off" [formGroup]="authForm" (ngSubmit)="authForm.valid && onSignIn()">
      <app-email [authForm]="authForm"></app-email>
      <app-password [authForm]="authForm"></app-password>
      <button type="submit" [disabled]="authForm.invalid" class="auth-btn">Sign in</button>
      <p>Not registered? <a [routerLink]="['/auth/sign-up']">Create an account!</a></p>
    </form>
  </div>
</section>