<section class="signup-container flex align-items-center justify-content-center">
  <rsm-user-form [formGroup]="authForm" [authForm]="authForm">
    <h2 header>{{ 'USER.CREATE_ACCOUNT' | translate }}</h2>
    <rsm-name field [authForm]="authForm"></rsm-name>
    <div error *ngIf="(errorMessage$ | async)">{{ errorMessage$ | async }}</div>
    <button button pRipple pButton 
      type="submit"
      [disabled]="authForm.invalid"
      class="auth-btn"
      (click)="onSignUp()"
    >
    {{ 'USER.SIGN_UP' | translate }}
    </button>
  </rsm-user-form>
</section>
