<section class="container signup-container flex align-items-center justify-content-center">
  <div class="signup-form">
    <h2>Create an account</h2>
    <form novalidate autocomplete="off" [formGroup]="authForm" (ngSubmit)="authForm.valid && onSignUp()">
      <input type="text" 
        formControlName="name"
        placeholder="Name*"
        name="userName"
        class="user-name"
      >
      <rsm-email [authForm]="authForm"></rsm-email>
      <rsm-password [authForm]="authForm"></rsm-password>
      <div *ngIf="(errorMessage$ | async)">{{ errorMessage$ | async }}</div>
      <button type="submit" [disabled]="authForm.invalid" class="auth-btn">Sign up</button>
    </form>
  </div>
</section>
