<div class="user-name">
  <span class="p-float-label" [formGroup]="authForm">
    <input id="float-name" 
      type="text"
      pInputText
      name="userName"
      class="user-name__input"
      [formControlName]="'name'"
      [class.ng-invalid]="name?.invalid && name?.dirty"
    >
    <label for="float-name">Name*</label>
  </span>
  <small id="name-help" class="p-error block" *ngIf="name !== null && (name.dirty || name.touched)">
    <span *ngIf="name.errors && name.hasError('required')">{{ 'USER.NAME_ERROR' | translate }}</span>
  </small>
</div>
