@import '~src/styles/style-import';

:host ::ng-deep {

  .p-element {

    .p-dropdown {
      background: transparent;
      border-color: $white-color;
      border-radius: 2px;
    }

    .p-dropdown-label {
      color: $white-color;
      font-weight: 600;
      text-transform: capitalize;
      padding: 0.15rem 0.4rem 0.3rem;
    }

    .p-dropdown-trigger {
      width: 1.5rem;
      color: $white-color;
    }

    .pi {
      font-size: 0.8rem;
    }
  }

}

:host {
  margin-right: 15px;
}
