<section class="container edit-container flex align-items-center justify-content-center">
  <rsm-user-form [formGroup]="authForm" [authForm]="authForm">
    <h2 header>{{ 'USER.EDIT_HEADER' | translate }}</h2>
    <div class="user-name" field>
      <input type="text" 
      formControlName="name"
      [placeholder]="'USER.NAME' | translate"
      name="userName"
      class="user-name__input"
      >
      <div class="input-error" *ngIf="name !== null && (name.dirty || name.touched)">
        <span *ngIf="name.errors && name.hasError('required')">{{ 'USER.NAME_ERROR' | translate }}</span>
      </div>
    </div>
    <div error *ngIf="(errorMessage$ | async)">{{ errorMessage$ | async }}</div>
    <div class="form-buttons flex justify-content-between" button>
      <button button 
        type="submit"
        [disabled]="authForm.invalid"
        class="edit-btn"
        (click)="onEditUser()"
      >
      {{ 'USER.SAVE' | translate }}
      </button>
      <button button 
        type="button"
        class="delete-btn"
        (click)="onDeleteUser()"
      >
      {{ 'USER.DELETE' | translate }}
      </button>
    </div>
  </rsm-user-form>
</section>
