<div class="banner-block">
  <div class="container flex flex-wrap justify-content-between">

    <div class="text">
      <h1>Make Business Flow Easyer With Us </h1>
      <p>Your amazing product deserves an easy way to manage it. Our app will provide you with a nessesary instruments no matter what your idea is about.</p>
    </div>

    <div class="different-preview">
      <rsm-preview-on-different-sizes></rsm-preview-on-different-sizes>
    </div>
  </div>
</div>

<div class="feature-text">
  <div class="container">
    <rsm-card-with-icon
      [card]="cards[4]"
      class="title"
    ></rsm-card-with-icon>
    <button pButton label="Sign up for free"></button>
  </div>
</div>

<div class="feature-items">
  <div class="container">
    <rsm-title-with-icon-and-text></rsm-title-with-icon-and-text>

    <div class="flex flex-wrap justify-content-between">
      <rsm-card-with-icon class="card"
        [card]="cards[0]"
      ></rsm-card-with-icon>
      <rsm-card-with-icon
        [card]="cards[0]"
      ></rsm-card-with-icon>
      <rsm-card-with-icon
        [card]="cards[0]"
      ></rsm-card-with-icon>
      <rsm-card-with-icon
        [card]="cards[0]"
      ></rsm-card-with-icon>
    </div>
  </div>
</div>

<rsm-video-block></rsm-video-block>

<div class="block-teams">
  <div class="container flex flex-wrap justify-content-between">
    <div class="teams">
      <rsm-card-with-icon
      [card]="cards[1]"
      ></rsm-card-with-icon>
      <rsm-card-with-icon
      [card]="cards[2]"
      ></rsm-card-with-icon>
      <rsm-card-with-icon
        [card]="cards[3]"
      ></rsm-card-with-icon>
    </div>
  </div>
</div>

<div class="prefooter-block">
  <div class="container">
    <rsm-title-with-icon-and-text></rsm-title-with-icon-and-text>
    <div class="flex flex-wrap justify-content-between">
      <button pButton label="Sign in"></button>
      <button pButton label="Join now"></button>
    </div>
  </div>
</div>

