<div class="banner-block  flex flex-wrap">
  <div class="container flex flex-wrap justify-content-between align-items-center">

    <div class="text">
      <h1>{{ mainPageText.block1.title }}</h1>
      <p>{{ mainPageText.block1.description }}</p>
    </div>

    <div class="different-preview">
      <rsm-preview-on-different-sizes></rsm-preview-on-different-sizes>
    </div>
  </div>
</div>

<div class="feature-text">
  <div class="container">
    <rsm-card-with-icon
      [imageUrl]="cards[4].imageUrl"
      [title]="cards[4].title"
      [description]="cards[4].description"
      class="title"
    ></rsm-card-with-icon>
    <button pRipple pButton label="Sign up for free"></button>
  </div>
</div>

<div class="feature-items">
  <div class="container">
    <rsm-title-with-icon-and-text></rsm-title-with-icon-and-text>

    <div class="flex flex-wrap justify-content-between">
      <rsm-card-with-icon
        [imageUrl]="cards[0].imageUrl"
        [title]="cards[0].title"
        [description]="cards[0].description"
        class="card"
      ></rsm-card-with-icon>
      <rsm-card-with-icon
        [imageUrl]="cards[0].imageUrl"
        [title]="cards[0].title"
        [description]="cards[0].description"
        class="card"
      ></rsm-card-with-icon>
      <rsm-card-with-icon
        [imageUrl]="cards[0].imageUrl"
        [title]="cards[0].title"
        [description]="cards[0].description"
        class="card"
      ></rsm-card-with-icon>
      <rsm-card-with-icon
        [imageUrl]="cards[0].imageUrl"
        [title]="cards[0].title"
        [description]="cards[0].description"
        class="card"
      ></rsm-card-with-icon>
    </div>
  </div>
</div>

<rsm-video-block></rsm-video-block>

<div class="block-teams">
  <div class="container flex flex-wrap justify-content-between">
    <div class="teams">
      <rsm-card-with-icon
        [imageUrl]="cards[1].imageUrl"
        [title]="cards[1].title"
        [description]="cards[1].description"
        class="card"
      ></rsm-card-with-icon>
      <rsm-card-with-icon
        [imageUrl]="cards[2].imageUrl"
        [title]="cards[2].title"
        [description]="cards[2].description"
        class="card"
      ></rsm-card-with-icon>
      <rsm-card-with-icon
        [imageUrl]="cards[3].imageUrl"
        [title]="cards[3].title"
        [description]="cards[3].description"
        class="card"
      ></rsm-card-with-icon>
    </div>
  </div>
</div>

<div class="prefooter-block">
  <div class="container">
    <rsm-title-with-icon-and-text></rsm-title-with-icon-and-text>
    <div class="flex flex-wrap justify-content-between">
      <button pButton label="Sign in"></button>
      <button pButton label="Join now"></button>
    </div>
  </div>
</div>

