:host {
  display: block;
  background-color: #EFEFCD;

  button.p-button {
    margin: 30px 0;
  }

  .banner-block {
    min-height: 40vw;
    color: #fff;
    padding: 0 0 40px;
    background: url(/assets/main-page/block1.png) no-repeat;
    background-size: cover;
    background-position: center bottom;

    .container {
      width: 100%;
      padding-top: 20px;
    }

    .text {
      max-width: 390px;

      h1 {
        max-width: 350px;
        margin: 0 0 30px;
      }
    }

    .different-preview {
      position: relative;
      width: 49%;
      margin-bottom: auto;
    }
  }

  .feature-text {
    margin: 40px 0;
  }
}
