<header [class.sticky-header]="sticky">
  <div class="container flex flex-wrap align-items-center justify-content-between">
    <img src="/assets/logo.svg" alt="Logo" class="logo">
    <rsm-search *ngIf="auth" class="search"></rsm-search>
    <rsm-select-language class="language"></rsm-select-language>
    <div class="sign-in" *ngIf="!auth; else userProfile">
      <button routerLink="/user/login"  pRipple pButton label="{{ 'MAINPAGE.QUESTIONBLOCK.BUTTONS.0' | translate }}"></button>
      <button pRipple pButton label="{{ 'MAINPAGE.QUESTIONBLOCK.BUTTONS.1' | translate }}"></button>
    </div>

    <ng-template #userProfile>
      <rsm-user-information></rsm-user-information>
    </ng-template>
  </div>
</header>

