<h1  *ngIf="board">{{ board.title }}</h1>
<div class="board-columns">
  <div  *ngIf="board" class="columns" cdkDropListGroup>
    <rsm-board-column
      *ngFor="let column of board.columns"
      [column]="column"
      [attr.data-id]="column.id"
      cdkDropList
      [cdkDropListData]="column.tasks"
      (cdkDropListDropped)="onDropTasks($event)"
      (deleteColumn)="deleteColumn(column.id)"
    ></rsm-board-column>
  </div>
  <div class="progress-overlay flex align-items-center justify-content-center" *ngIf="progressService.dataLoading$ | async">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>



