<h1  *ngIf="board">{{ board.title }}</h1>
<div class="board-columns">
  <div
    *ngIf="board"
    class="columns"
    cdkDropList
    [cdkDropListData]="columns"
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="onDropColumn($event)"
    cdkDropListGroup
  >
    <div class="column"
    *ngFor="let column of columns"
    cdkDrag
    >
      <rsm-board-column
        [column]="column"
        [attr.data-id]="column.id"
        cdkDropList
        [cdkDropListData]="column.tasks"
        (cdkDropListDropped)="onDropTasks($event)"
      ></rsm-board-column>
      <div class="column-placeholder" *cdkDragPlaceholder></div>
    </div>
  </div>
  <div *ngIf="(progressService.dataLoading$ | async) === false && columns.length === 0">
    <p>{{ 'BOARDS.EMPTY' | translate }}</p>
  </div>
  <div class="progress-overlay flex align-items-center justify-content-center" *ngIf="progressService.dataLoading$ | async">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>



