<div class="user flex align-items-center"
  (click)="isMenuVisible = !isMenuVisible"
>
  <span class="name">{{ userName$ | async }}</span>
  <span class="icon">{{ (userName$ | async) | slice:0:1 | uppercase }}</span>
</div>

<div
  class="menu"
  [class.active]="isMenuVisible"
  (click)="isMenuVisible = !isMenuVisible"
>
  <nav>
    <ul>
      <li routerLink="/new-board">{{ "HEADERMENU.0" | translate}}</li>
      <li routerLink="/user/edit">{{ "HEADERMENU.1" | translate}}</li>
      <li routerLink="/user/logout">{{ "HEADERMENU.2" | translate}}</li>
    </ul>
  </nav>
</div>
