$white-color: #FFF;
$bg-color: #EFEFCD;
$primary-color: #05704E;
$red-color: #A40202;
$grey-color: #B4B4B4;
$light-grey-color: #eee;
$yellow-color: #F5CE12;
$green-color: #8CB120;
$hover-speed: .5s;
$font-family: lato, sans-serif;
$header-height: 61px;
$footer-height: 59px;

$width-container: 1270px;

$header-height: 61px;
$footer-height: 59px;
$board-title-height: 84.5px;
$delete-icon-width: 35px;

$breakpoint1500: 1500px;
$breakpoint1399: 1399px;
$breakpoint1299: 1299px;
$breakpoint1199: 1199px;
$breakpoint1149: 1149px;
$breakpoint1099: 1099px;
$breakpoint1079: 1079px;
$breakpoint991: 991px;
$breakpoint767: 767px;
$breakpoint649: 649px;
$breakpoint599: 599px;
$breakpoint519: 519px;
$breakpoint449: 449px;
$breakpoint429: 429px;
$breakpoint399: 399px;
