$white-color: #FFF;
$bg-color: #EFEFCD;
$primary-color: #05704E;
$red-color: #A40202;
$grey-color: #B4B4B4;
$yellow-color: #F5CE12;
$green-color: #8CB120;
$hover-speed: .5s;
$font-family: lato, sans-serif;
