<div class="container flex flex-wrap justify-content-center">
  <rsm-card-with-icon
    [imageUrl]="'/assets/main-page/video.svg'"
    [title]="title"
    class="title"
  ></rsm-card-with-icon>

  <div id="video" [class.image]="!video" (click)="onVideo()">
    <img *ngIf="!video; else frameVideo" src="/assets/main-page/video-preview.svg" alt="">

    <ng-template #frameVideo>
      <iframe [src]="videoUrl" frameborder="0" allow="autoplay" allowfullscreen></iframe>
    </ng-template>
  </div>
</div>

