@import '~src/styles/style-import';

.login-container {
  height: 100vh;
  background-color: $bg-color;

  .auth-btn {
    @include filled-btn;
  }

  p {
    color: $grey-color;
    font-size: .8em;

    a {
      color: $red-color;
    }
  }
}
