<section class="login-container flex align-items-center justify-content-center">
  <rsm-user-form [formGroup]="authForm" [authForm]="authForm">
    <h2 header>{{ 'USER.LOGIN' | translate }}</h2>
    <button action-button pRipple pButton type="submit" [disabled]="authForm.invalid" class="auth-btn"
      (click)="onSignIn()">
      {{ 'USER.SIGN_IN' | translate }}
    </button>
    <p addition>{{ 'USER.NOT_REGISTERED' | translate }}
      <a [routerLink]="['/user/sign-up']">{{ 'USER.CREATE_ACCOUNT' | translate }}!</a>
    </p>
  </rsm-user-form>
</section>