<section class="container login-container flex align-items-center justify-content-center">
  <rsm-user-form [formGroup]="authForm" [authForm]="authForm">
    <h2 header>Login</h2>
    <div error *ngIf="(errorMessage$ | async)">{{ errorMessage$ | async }}</div>
    <button button 
      type="submit"
      [disabled]="authForm.invalid"
      class="auth-btn"
      (click)="onSignIn()"
    >
      Sign in
    </button>
    <p addition>Not registered? <a [routerLink]="['/user/sign-up']">Create an account!</a></p>
  </rsm-user-form>
</section>