<div class="preview-item">
  <img src="/assets/main-page/ipad.png" alt="">
  <div class="preview-image flex flex-wrap justify-content-center align-items-center">
    <img src="/assets/main-page/mobile6.png" alt="ipad">
  </div>
</div>
<div class="preview-item">
  <img src="/assets/main-page/mobile.png" alt="">
  <div class="preview-image flex flex-wrap justify-content-center align-items-center">
    <img src="/assets/main-page/mobile7.png" alt="ipad">
  </div>
</div>
<div class="preview-item">
  <img src="/assets/main-page/mobile2.png" alt="">
  <div class="preview-image flex flex-wrap justify-content-center align-items-center">
    <img src="/assets/main-page/mobile4.png" alt="ipad">
  </div>
</div>
<div class="preview-item">
  <img src="/assets/main-page/ipad2.png" alt="">
  <div class="preview-image flex flex-wrap justify-content-center align-items-center">
    <img src="/assets/main-page/mobile5.png" alt="ipad">
  </div>
</div>
