@import '~src/styles/style-import';

:host {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  margin-top: -60px;
  transform: rotate(-11.23deg);

  @media (max-width: $breakpoint991) {
    & {
      position: inherit;
      margin-top: 50px;
    }
  }

  @media (max-width: $breakpoint599) {
    & {
      transform: rotate(0);
    }
  }

  .preview-item {
    position: relative;
    display: block;
    margin-bottom: 50px;

    @media (max-width: $breakpoint767) {
      & {
        margin-bottom: 30px;
      }
    }

    img {
      width: 100%;
      display: block;
    }

    .preview-image {
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      bottom: 5px;

      img {
        width: 81%;
      }
    }
  }

  .preview-item:nth-of-type(1) {
    width: 59.75%;
  }

  .preview-item:nth-of-type(2) {
    width: 30%;
  }

  .preview-item:nth-of-type(3) {
    width: 42.3%;
    margin-bottom: auto;
  }

  .preview-item:nth-of-type(4) {
    width: 52.5%;
  }

}
