:host {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  margin-top: -60px;
  transform: rotate(-11.23deg);


  .preview-item {
    position: relative;
    display: block;
    margin-bottom: 50px;

    img {
      display: block;
    }

    .preview-image {
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      bottom: 5px;
    }
  }

  .preview-item:nth-of-type(3) {
    margin-bottom: auto;
  }

}
